# ===== Python =====
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# ===== Django =====
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# ===== Environment variables =====
.env
.env.*
!.env.example

# ===== IDE / Editors =====
.vscode/
.idea/
*.swp
*.swo

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Docker =====
docker-compose.override.yml

# ===== Migrations (иногда НЕ игнорят, но если нужно) =====
# **/migrations/
# !**/migrations/__init__.py

# ===== Pytest =====
.pytest_cache/

# ===== Coverage =====
htmlcov/
.coverage
.coverage.*

# ===== Node (если вдруг есть фронт) =====
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*